body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: 'Roboto'
}

 *{
   box-sizing: border-box;
 }

 ul{
   margin: 0;
   padding: 0;
   list-style: none;
 }

.App {
  text-align: center;
}

.container{
  width: 90%;
  margin: 0 auto;  
}

@media(max-width: 415px){
  .container{
    width: 100%;
  }
}

@keyframes shake {
	0%,
	100% {
	  transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
	  transform: translateX(-5px);
	}

	20%,
	40%,
	60%,
	80% {
	  transform: translateX(5px);
	}
}

.shake{
  animation: shake 0.6s;
}

@import './styles/variables.scss';
 @import './styles/navbar.scss';
 @import './styles/anouncement.scss';
 @import './styles/studios.scss';
 @import './styles/about.scss';
 @import './styles/documents.scss';
 @import './styles/schedule.scss';
 @import './styles/welcome.scss';
 @import './styles/grid.scss';
 @import './styles/header.scss';
 @import './styles/footer.scss';
 @import './styles/slider.scss';
 @import './styles/ripple.scss';
 @import './styles/detail-page.scss';
 @import './styles/say-hello.scss';
 @import './styles/total-info-block.scss';
 @import './styles/sessions-today-board.scss';
 @import './styles/soon-events.scss';