.about {
  padding: 10px 0;
  background: url('https://img2.goodfon.ru/original/1920x1080/c/c4/abstrakciya-krugi-uzory-svet.jpg')
    no-repeat;
  background-size: cover;

  img {
    max-width: 100%;
    height: auto;
  }

  h1 {
    margin: 0;
    padding-top: 20px;
  }

  p {
    margin: 10px;
  }
}
