
.admin-section{
  padding: 10px;
  background-color: #90caf9;

  h2{
    margin: 0;
    font-size: 30px;
    color: #0d47a1;
    cursor: pointer;
  }
}

.admin-section__button{
  width: 50px;
  height: 50px;
  margin: 10px;
  font-size: 40px;
  border-radius: 50%;
  background-color: green;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover{
    transform: scale(1.1);

  }
}

.admin-groups {
  width: 50%;
  margin: 10px auto;
  border: 1px solid orange;

  @media(max-width: 415px){
    width: 100%;
  }
}

.admin-item{
  width: 50%;
  margin: 10px auto;
  padding: 0 15px;
  
  border: 1px solid black;

  input {
    width: 100%;
  }

  textarea{
    width: 100%;
  }

  &:hover{
    transform: scale(1.02);
  }

  @media(max-width: 415px){
    width: 100%;
  }
}

.admin-item--new{
  border: 3px solid orange;
}

.admin-item__title{
  margin: 0;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}

.admin-item__form{
  padding: 5px;
}

.admin-item__field{
  margin: 10px auto;
  text-align: left;  

  label{
    display: flex;
  }
}

.admin-item__controls--delete{
  background: red;
}
