
.detailPage__info{
  padding: 10px;
}

.detailPage__day{
  width: 50%;
  margin: 30px auto;
  padding: 15px;
  background: $blueColor;
  border-radius: 15px; 

  @media(max-width: 415px){
    width: 100%;
  }
}

.detailPage__day-age{
  font-size: 12px;
  vertical-align: text-top;
  color: white;
}

.detailPage__img {
  width: 50%;
}

@media(max-width: 415px){  
  .detailPage__img {
    width: 100%;
  }
}