@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.wrapper-poster{
  padding-top: 30px;
  background: black;
  h1{    
    color: white; 
  }
}

.poster{
  max-width: 596px;
  min-height: 724px;
  margin: 0 auto;
  overflow: hidden;
  background-repeat: no-repeat;
  // background-position: center center;
  background-size: contain;

  @media (max-width: 596px) {
    width: 100%;
    height: auto;
  } 
}

.poster-top{
  display: flex;  
}

.poster-top__logo{
  margin-top: 7px;
  margin-left: 19.25px;
  margin-right: 19.25px;  
  @media(max-width: 470px){
    display: none;
  }
}

.poster-top__contacts{
  width: 319px;
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  border-radius: 0px 0px 10px 10px;
  color: #fff;
  ul {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 10px);
    margin: 0 auto;

    @media(max-width: 470px){ 
      width: 80%;  
      margin: 0 auto;
      
      li {
        margin: 2px 5px;
      }
    }
  }

  @media(max-width: 470px){   
    font-size: 12px;
    width: 90%;
    margin: 0 auto;
  }
  
}

.poster-content__title{
  width: calc(100% - 80px);
  margin: 0 auto;
  padding: 10px;
  font-family: 'Amatic SC', cursive;
  background: rgba(0, 0, 0, 0.69);            
  text-align: center;
  border-radius: 15px;
  
  h1 {
    margin: 0;
    font-size: 74px;
    line-height: 56px;
    letter-spacing: 0.18px; 
    @media(max-width: 415px){
      font-size: 60px; 
    }   
  }
  p{
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: right;
    padding-right: 65px;
    font-size: 42px;
    font-weight: bold;
    @media(max-width: 415px){
      font-size: 24px;
    }
  }
}

.poster-content__date{
  display: flex;
  margin-right: calc(100% - 250px);
  max-width: 220px;
  margin-top: 130px;
  padding: 10px;
  font-family: 'Alfa Slab One', cursive;
  font-weight: bold; 
  
}

.poster-content__date--date{  
  padding: 15px;
  font-size: 55px; 
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.69);
  p{
    margin: 0;
    padding: 0;
    font-size: 30px;
  }
  @media(max-width: 415px){
    font-size: 40px; 
  }
}

.poster-content__date--time{
  font-size: 54px;  
}

.poster-bottom{
  padding: 10px;
  
  h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: white;
  }
  p{
    margin: 0;
    padding: 0;
    color: white;
  }
}

.poster-divider{
  height: 10px;
  background-color: #fff
}

.poster-description{  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  
  p {
    margin: 0;
    font-weight: bold;
  }
}

.poster-bottom__whatsapp{
  display: flex;
  justify-content: space-between;
}

.poster-bottom__whatsapp--input{
  width: 80%;
  height: 60px;
  padding: 15px;
  font-size: 24px;
  outline: none;
  background: white;
  border-radius: 30px;
  div {
    padding-top: 10px;
  }
}

.poster-bottom__whatsapp--btn{
  width: 60px;
  height: 60px;
  background: url('../data/send.png') no-repeat center center;
  background-color: #44CF2E;
  border-radius: 50%;
  cursor: pointer;
}

@keyframes notransform {
  10% {transform: none;}  
}

.container-t {
  min-height:120px;  
  perspective: 200px; 
  transform-style: preserve-3d;
  @media(max-width: 470px){
    width: 100%;
    margin: 0 auto;
    
  }
}

.rotateY {  
  transform: rotateY(360deg);  
  animation: notransform 5s infinite;  
  
}

.translate3d {  
  transform: translate3d(30px,30px,30px);
  animation: notransform 5s infinite; 
  animation-delay: 2s;
}

@keyframes freeze-rotate {
  
  0% {transform: rotateX(-70deg)}  
  70% {transform: rotateX(-30deg)}  
  80% {transform: rotateX(360deg)} 
  100% {transform: rotateX(-70deg)}  
}

.freeze-rotate {
  transform: rotateY(-40deg);
  animation: freeze-rotate 5s infinite;
}