.sessions {
  margin-bottom: 50px;
  padding: 20px;
  background: linear-gradient(180deg, $orangeColor 0%, rgba(179, 0, 66, 0.74) 100%);
  h3 {
    font-size: 40px;
    color: white;    
  }
}

.sessions__address{
  margin: 30px;
  font-size: 20px;
  font-weight: bold;
}

.sessions__item{
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  border-top: 1px solid white;
  cursor: pointer;

  p{
    margin: 0;
  }
  span{
    font-size: 14px;
    color: rgb(77, 77, 77);
  }
  &:last-child{
    border-bottom: 1px solid white;
  }
  &:hover{    
    transform: scale(1.05);
  }

  @media(max-width: 600px){
    width: 100%;
  }
}

.sessions__item--active{
  position: relative;
  background: $blueColor;
  &::before{
    position: absolute;
    content: "прямо сейчас";
    top: 0;
    right: 0;
    width: 100%;
    height: 10px;
    padding-right: 20px;
    font-size: 10px;
    text-align:right;
    color: white;
  }
}

.sessions__address--trofimova{
  margin-top: 60px;
}

.now__holiday {
  padding: 15px;
  background: tomato;
}

