.slider{
  position: relative;
}

.slider__control{
  position: absolute;
  top: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background: black;
  border-radius: 50%;
}

.slider__control--left{  
  left: 0;
}

.slider__control--right{  
  right: 0;
}